sub {vertical-align:sub}
sup {vertical-align:top}
.h, .hid, .q-js .qh, .qblock, .q-js .quser, .q-js #m-odhlasit {display:none}
.block, .q-js .qblock, .q-prihlasen .quser, .q-prihlasen #m-odhlasit {display:block}
.vh {visibility:hidden}
.o-hid {overflow:hidden}
.cr, .cr a {color:#EE333E }
.cp {cursor:pointer}
.fl {float:left}
.fr {float:right}
.fc {clear:both}
.fcw {float:left; clear:both; width:100%}
.fca, .fc0, .fc1, .fc3, .fc5, .fc9, .fc13, .fc15, .fc18, .fc22, .fc-art, .fc9-negative {overflow:hidden; clear:both; float:none; line-height:1; margin:0; padding:0}
.fca {font-size:5px; height:5px}
.fc0, .fc1 {display:block; font-size:0; height:0; line-height:0}
.fc3 {font-size:3px; height:3px}
.fc5 {font-size:5px; height:5px}
.fc9, .fc-art, .fc10 {font-size:9px; height:9px; line-height:9px}
.fc9-negative {margin-top:-9px;}
.fc13 {font-size:13px; height:13px}
.fc15 {font-size:15px; height:15px}
.fc18 {font-size:18px; height:18px}
.fc22 {font-size:22px; height:22px}
.tal {text-align:left}
.tac {text-align:center}
.tar {text-align:right}
.taj {text-align:justify}
.ttu {text-transform:uppercase}
.ttn {text-transform:none }
.vat {vertical-align:top}
.vam {vertical-align:middle}
.vab {vertical-align:bottom}
.nw {white-space:nowrap}
.nb {border:none}
.static {position:static}
.relative {position:relative}
.imp {color:red }
.bgtrans {background:transparent}
.i {font-style:italic}
.b, .subtit, b, strong {font-weight:700}
.bn {font-weight:normal}
.w25, .quarter {width:25%}
.w30 {width:30%}
.w33 {width:33%}
.w49 {width:49%}
.w50, .half {width:50%}
.w66 {width:66%}
.full {width:100%}
.ml10 {margin-left:10px}
.mr10 {margin-right:10px}
.mt10 {margin-top:10px}
.mt20 {margin-top:20px}
.mt30 {margin-top:30px}
.mb10 {margin-bottom:10px}
.mb20 {margin-bottom:20px}
.mb30 {margin-bottom:30px}

.sm, .fsm, .f89, .f95 {font-size:83%}
.f86 {font-size:86%}
.f92 {font-size:92%}
.fn {font-size:100%}
.f117 {font-size:117%}
.f125 {font-size:125%}
.f134 {font-size:134%}
.f150 {font-size:150%}
.f200 {font-size:200%}